@import '@/styles/_mixins.module';

.row {
  --side-width: var(--form-side-width, 140px);
  --control-height: var(--form-control-height, 38px);

  display: flex;
  flex-direction: column;
  justify-self: stretch;
  gap: var(--space-big);
  max-width: 600px;
  width: 100%;
  padding-block: var(--space-base);
  border-block-start: 1px solid var(--color-border-light);

  @include device(mobile) {
    display: block;
  }
}

.sectionName {
  margin: 0 0;
}

.section {
  padding-left: var(--space-base);
}

.field {
  flex: 1;
  display: flex;
}

.side {
  flex: 0 0 var(--side-width);
  padding-inline-end: var(--space-small);
}

.label {
  display: flex;
  align-items: center;
  min-height: var(--control-height);
  font-size: var(--font-big);
}

.main {
  display: flex;
  max-width: 368px;
  margin-left: auto;
  padding-right: var(--space-base);
  justify-content: flex-end;
  align-items: flex-end;
}

.delete {
  box-shadow: none;
  padding: 0;
  height: min-content;
}

.delete:hover {
  cursor: pointer;
  background: none;
}

.message,
.info {
  margin-block-start: var(--space-small);
  color: var(--color-text-secondary);
  font-size: var(--font-base);
}

.message {
  &.error {
    color: var(--color-danger);
  }
}
