@import "@/styles/_mixins.module";

.user {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: var(--space-base);
}

.avatar {
  flex: 0 0 auto;
  border-radius: 50%;
}

.info {
  flex: 1;
  line-height: 1;

  @include device(mobile) {
    display: none;
  }
}

.nickName {
  font-size: var(--font-base);
  font-weight: var(--font-bold);
}

.fullName {
  margin: var(--space-tiny) 0 0 0;
  color: var(--color-text-secondary);
  font-size: var(--font-tiny);
}
