.chat {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 120px);
  max-height: 300px;
  mask-image: linear-gradient(
    180deg,
    transparent,
    #000 30%,
    #000 100%,
    transparent 100%
  );
}

.list {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  margin: 0;
  padding: 0 var(--space-small);
  list-style: none;
}

.item {
  max-height: 100px;
  margin: 8px 0;
  transform: translateY(0) scaleY(1);
  transition: transform 0.3s ease-in-out, max-height 0.4s ease-in-out,
    margin 0.2s ease-in-out;
  will-change: transform, max-height, margin;
}

.new {
  color: #f00;
  max-height: 0;
  margin: 0;
  transform: translateY(-50%) scaleY(0);
}

.message {
  display: flex;
  align-items: flex-start;
  gap: var(--space-small);
  font-size: var(--font-tiny);
  line-height: 1.3;
}

.avatar {
  margin-block-start: 4px;
}

.content {
  text-shadow: 1px 1px 1px rgba(#000, 0.8);
}

.nickname {
  font-weight: var(--font-bold);
  opacity: 0.5;
}
