html body {
  overflow-y: overlay;
}

html {
  -webkit-text-size-adjust: 100%;

  *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--color-border);
  }

  *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

body {
  min-width: 320px;
  height: -webkit-fill-available;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-medium);
  line-height: 1.15;
  overscroll-behavior: contain;
}
