html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family);
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
}
