:root {
  --color-primary: #000;
  --color-brand: #000;
  --color-accent: #65d2e9;
  --color-success: #67dda0;
  --color-warning: #ed7360;
  --color-danger: #ea4359;
  --color-text-primary: #000;
  --color-text-secondary: #86878b;
  --color-text-tertiary: #d7d7d9;
  --color-text-alt: #fff;
  --color-border: #e3e3e4;
  --color-border-light: #f0f0f0;
  --color-background: #fff;
  --color-background-hover: #eeeeee;
  --color-background-alt: #000;
  --color-background-field: #f1f1f2;
}
