@import "@/styles/_breakpoints.module";

.layout {
  --sidebar-size: 232px;
  --panel-size: 60px;

  min-width: var(--device-min-size);
  padding: var(--panel-size) 0 0 var(--sidebar-size);

  @media (max-width: $bpTabletPx) {
    --sidebar-size: 48px;
    --panel-size: 48px;
  }

  @media (max-width: $bpMobilePx) {
    padding: var(--panel-size) 0;
  }

  .sidebar {
    position: fixed;
    top: var(--panel-size);
    bottom: 0;
    left: 0;
    width: var(--sidebar-size);

    @media (max-width: $bpMobilePx) {
      display: none;
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    @media (min-width: $bpMobilePx) {
      display: none;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main {
  grid-area: main;
  padding: 0 var(--space-base);
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}
