.meeting {
  position: fixed;
  z-index: 200;
  inset: 0;
  background: var(--color-background-alt);
  color: var(--color-text-alt);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  inset: 0;
}
