@import "@/styles/_breakpoints.module";

.following {
  margin: var(--space-big) 0 0;
  padding: var(--space-big) var(--space-base);
  border-block-start: 1px solid var(--color-border);

  @media (max-width: $bpTabletPx) {
    padding-inline: 0;
  }
}

.title {
  margin: 0 0 var(--space-base) 0;
  padding: 0;
  color: var(--color-text-secondary);
  font-size: var(--font-small);
  font-weight: var(--font-medium);

  @media (max-width: $bpTabletPx) {
    display: none;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  &:not(:first-child) {
    margin-block-start: var(--space-base);

    @media (max-width: $bpTabletPx) {
      margin-block-start: var(--space-small);
    }
  }

  @media (max-width: $bpTabletPx) {
    display: flex;
    justify-content: center;
  }
}
