.grid {
  position: absolute;
  inset: 0;
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.participants {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  justify-content: stretch;
  position: absolute;
  inset: 0;
  background: #000;

  &-1,
  &-2 {
    grid-template-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }

  &-3 {
    grid-template-rows: 3fr 2fr;
  }

  &-5,
  &-7 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3fr 2fr;
  }

  &-7 {
    grid-template-rows: 3fr 3fr 2fr;
  }
}

.participant {
  border: 1px solid blue;
  background: rgba(#fff, 0.2);

  &:first-child {
    .participants-3 &,
    // .participants-5 &,
    .participants-7 &,
    .participants-9 & {
      grid-column: 1 / 3;
    }
  }

  .participants-5 & {
    &:nth-child(1) {
      grid-column: 1 / 7;
    }
    &:nth-child(2) {
      grid-column: 7 / 13;
    }
    &:nth-child(3) {
      grid-column: 1 / 5;
    }
    &:nth-child(4) {
      grid-column: 5 / 9;
    }
    &:nth-child(5) {
      grid-column: 9 / 13;
    }
  }

  .participants-7 & {
    &:nth-child(1),
    &:nth-child(3) {
      grid-column: 1 / 7;
    }
    &:nth-child(2),
    &:nth-child(4) {
      grid-column: 7 / 13;
    }
    &:nth-child(5) {
      grid-column: 1 / 5;
    }
    &:nth-child(6) {
      grid-column: 5 / 9;
    }
    &:nth-child(7) {
      grid-column: 9 / 13;
    }
  }
}
